# Copy this file to .env and set your settings.
# Database settings
DB_HOST=localhost
DB_NAME=my_database
DB_USERNAME=me
DB_PASSWORD=secret
# API Key Admin Settings
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret
# Email Settings
EMAIL_USE_SMTP=true
# Following fields are required for SMTP
EMAIL_HOST=host
EMAIL_USERNAME=user@email.com
EMAIL_PASSWORD=secret
EMAIL_PORT=465
# Cache Settings
USE_CACHE=false
CACHE_HOST='127.0.0.1'
CACHE_PORT=11211
# How long should we store cache?
CACHE_SECONDS=86400
