Vendor/
Config/JPAPI/DatabaseSettings.php
Config/JPAPI/AdminSettings.php
Config/JPAPI/MailSettings.php
.DS_Store
phpunit.xml
Public/php_errors.log
php_error.log
php_errors.log
composer.lock
_docker/
.vscode/
.env
