Vendor/autoload.php
Vendor/composer/
Vendor/doctrine/
Vendor/bin/
Vendor/cilex/
Vendor/dompdf/
Vendor/erusev/
Vendor/jms/
Vendor/monolog/
Vendor/nikic/
Vendor/phenx/
Vendor/phpcollection/
Vendor/phpdocumentor/
Vendor/phpmailer/phpmailer/
Vendor/phpoption/
Vendor/pimple/
Vendor/psr/
Vendor/symfony/
Vendor/twig/
Vendor/zendframework/
Vendor/zetacomponents/
Config/JPAPI/DatabaseSettings.php
Config/JPAPI/AdminSettings.php
.DS_Store