.required-field{
	color: red;
	font-weight: bold;
}
#get-api-holder {
	position: relative;
	top: 5px;
}
#footer {
	text-align: center;
	font-style: italic;
	font-size: 11px;
	margin-top: 20px;
}
div.beginner_panel .panel-heading h3.panel-title img {
	margin-top: -5px;
}
.beginner_panel .panel-heading .panel-title {
	font-size: 24px;
}