.required-field{
	color: red;
	font-weight: bold;
}
#get-api-holder {
	position: relative;
	top: 5px;
}
#footer {
	text-align: center;
	font-style: italic;
	font-size: 11px;
	margin-top: 20px;
}
div.beginner_panel .panel-heading h3.panel-title img {
	margin-top: -5px;
}
.beginner_panel .panel-heading .panel-title {
	font-size: 24px;
}
div#content {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
}
div#content pre {
	margin-bottom: 10px;
}
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}
.sidenav li.active {
	font-weight: bold;
}